RewriteEngine On

# SECURITY HEADERS
<IfModule mod_headers.c>
   # X-Frame-Options
  Header append X-FRAME-OPTIONS "SAMEORIGIN"

  # X-XSS-Protection
  Header set X-XSS-Protection "1; mode=block"

  # X-Content-Type nosniff
  Header set X-Content-Type-Options nosniff

  # Expect-CT
  #Header set Expect-CT enforce,max-age=2592000,report-uri="https://foo.example/report"

  # Feature-policy
  Header always set Feature-Policy "microphone 'none'; payment 'none'; sync-xhr 'self' https://www.eivindarvesen.com"

  # Acces-Control
  Header set Access-Control-Allow-Origin http://www.example.com

  # Referrer Policy
  Header always set Referrer-Policy "same-origin"

  # HSTS
  Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

  # Content-Security-Policy (CSP)
  Header set Content-Security-Policy "base-uri 'self';"
  Header set Content-Security-Policy "default-src 'self';"
  Header set Content-Security-Policy "style-src 'self' 'unsafe-inline';"
</IfModule>

# Force WWW
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !\.test$
RewriteCond %{HTTP_HOST} !^$

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Force HTTPS
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !\.test$
RewriteCond %{HTTP_HOST} !^$

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]

# Note: It’s also recommended to enable HTTP Strict Transport Security (HSTS)
# on your HTTPS website to help prevent man-in-the-middle attacks.
# See https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

# Deny access to hidden files
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]
#RedirectMatch 404 /\..*$

# Deny access to backups and src
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    ## Apache 2.2
    Order allow,deny
    Deny from all
    Satisfy All

    ## Apache 2.4
    # Require all denied
</FilesMatch>

# Disable Directory Browsing
Options All -Indexes

# Redirect to public folder
RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

