// Bootstrap base syles
@import "../../../bower_components/bootstrap/less/bootstrap.less";

// Custom variables
@import "./variables.less";


body {
  margin-top: 53px;
  padding: 20px 0 20px 0; //70px;
  //background-color: #fff;
}

.navbar, .sidebar-module {
  //font-size: @font-size-small;
}

.form-control:focus {
  //border-color: @brand-primary;
}

.navbar {
  //opacity: 0.99;
  //border: 0;
  //.box-shadow(0 1px 10px);

  //font-weight: bold;

  .container {
    background: none;
    //margin: 0;
  }
  //background-color: #555e69;
}

.navbar-nav li:hover {
    background-color: #1a1a1a;
}

.navbar-default .navbar-brand {
  color: @navbar-default-link-active-color;
}

.navbar-inverse .navbar-brand {
  color: @navbar-inverse-link-active-color;
}

.navbar-brand {
  font-weight: bold;
}

@media (min-width: @screen-sm-min) {
  .navbar-collapse {
    float: right;
  }
}

.navfix(@color) {
  .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    background: none;
    //text-decoration: underline;
    @media (min-width: @screen-sm-min) {
      border-bottom: 2px solid @color;
    }
  }
  /*
  .navbar-nav>li>a:hover {
    color: #9d9d9d;
    border-bottom: 2px solid #9d9d9d;
  }
  */
}

.navbar-default {
  .navfix(#555);
}

.navbar-inverse {
  .navfix(#fff);
}

.transparent {
  opacity: 0.8;
}

// .navbar-custom {
//   &:extend(.navbar-inverse);
//   //.navfix(#fff);
//   background-color: #333;
// }

.container {
  background-color: #fff;
}

.jumbotron {
  //margin-top: -48px; //-19px;
  //margin-bottom: 0;

  padding: 0;
  margin-bottom: 0;

  background: none;

  .container {
    background-color: #fff;
  }
}

.jumbotron-inverse {
  &:extend(.jumbotron);
  background-color: #000;
  color: #fff;

  .container {
    background: none;
  }
}

.label {
  //border-radius: @border-radius-base;
}

.badge {
  border-radius: 2px;
}

.breadcrumb {
    background: none;
    padding-left: 0;
    //border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.blog-sidebar {
    z-index: 1;
}

#blog-search-field {
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 0px 0px inset;
}

#blog-search {
  border-left: none;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 0px 0px inset;
}

#blog-search:hover, #blog-search:active {
  box-shadow: none;
  border-color: #ccc;
}

.blog-main {
    z-index: 2;
}

.blog-post, .search>li {
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.blog-post-meta {
  color: @gray;
}

.list-unstyled span, .blog-post-meta span {
  margin-right: 4px;
}

.pager li>a {
  border-radius: @border-radius-base;
}

.sidebar-module {
    margin-top: 27px;
    margin-bottom: 30px;
    //font-size: @font-size-small;
}

.col-xl-12 > h1 {
  margin-top: 0;
}

// img {
//   height: auto;
//   width: auto;
//   max-height: 100% !important;
//   max-width: 100% !important;
// }

img.media-object {
  width: 100%;
  height: 100%;
}

.img-circle-thumbnail {
  &:extend(.img-thumbnail);
  &:extend(.img-circle);
  background-color: #eee;
}

[class*="col-"] .img-circle-thumbnail {
  margin: 30px 0;
}

@media (max-width: @screen-md-min) {
  [class*="col-"] .img-circle-thumbnail {
    margin: 0;
  }
}

.row.text-center .col-md-12 {
  margin-bottom: 60px;
}

.row {
  padding-left: -30px !important;
  padding-right: -30px !important;
}

.row [class*="col-"], .navbar .container {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

@media (max-width: @screen-md-min) {
  .row:not(:first-child) [class*="col-"] {
    margin-bottom: 60px;
  }
}

@media (min-width: @screen-sm-min) {
  .project-element {
    margin-left: -30px !important;
    margin-right: 30px;
  }
}

/*@media (max-width: @screen-sm-min) {
  footer .text-right {
    text-align: left;
  }
}*/

.col-md-6.media {
  margin-top: 0;
}

footer {
  //margin-top: 30px;
  font-size: @font-size-small;
  //background: #ddd;

  .container {
  //background: none;

  p {
    margin-bottom: 20px;
  }

  a:not(:last-child) {
    margin-right: 10px;
  }

    @media (min-width: @screen-md-min) {
      hr {
        margin-top: 60px;
      }
    }
  }
}

.btn.disabled {
    background-color: @gray-lighter;
}

.btn-link.disabled {
    background: none;
    text-decoration: line-through;
}

.btn-default {
  color: @gray-light;
  border-color: @gray-light;
}
.btn-default:hover {
    background-color: @gray-light;
    border-color: @gray-light;
    color: #fff;
}

.input-group-btn > .btn-default {
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);

    &:hover {
        background-color: rgb(204, 204, 204);
        color: rgb(255, 255, 255);
    }
}

.btn-primary:hover, .btn-primary:active {
    border-color: @brand-primary;
    background-color: @brand-primary;
    color: #fff;
}
.btn-success:hover, .btn-success:active {
    border-color: @brand-success;
    background-color: @brand-success;
    color: #fff;
}
.btn-info:hover, .btn-info:active {
    border-color: @brand-info;
    background-color: @brand-info;
    color: #fff;
}
.btn-warning:hover, .btn-warning:active {
    border-color: @brand-warning;
    background-color: @brand-warning;
    color: #fff;
}
.btn-danger:hover, .btn-danger:active {
    border-color: @brand-danger;
    background-color: @brand-danger;
    color: #fff;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.box-shadow(@width, @depth, @blur) {
  box-shadow: @width @depth @blur rgba(0, 0, 0,.20);
}

.blur(@radius) {
    -webkit-filter: blur(@radius);
    -moz-filter: blur(@radius);
    -o-filter: blur(@radius);
    -ms-filter: blur(@radius);
    filter: blur(@radius);
}

@media (max-width: @screen-sm-min) {
  body {
    margin-top: 51px;
    padding: 0;
    background-color: #fff;
  }
}

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    .navbar-nav li.active {
        //border-left: 2px solid #fff;
    }
}

@media (min-width: @screen-lg-min) {
    body {
        width: 80%;
        float: right;
        padding: 0;
        margin: 14px 0;

        .container {
            margin: 0 14px;
            width: auto;
        }
    }
    .navbar {
        width: 20%;
        min-height: 100%;
        display: table;
        .container {
            width: auto;
            margin: 0 !important;
            padding: 0 !important;
            //padding-top: 14px;
            //padding-left: 14px;
            //margin: 14px 0;
            .navbar-header {
                padding-left: 30px;
                padding-right: 30px;
                margin-top: 7px;
                margin-bottom: 7px;
            }
            .navbar-collapse {
                border-top: 1px solid transparent;
                border-color: #101010;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            }
            .navbar-nav {
                margin: 7px 0;
                width: 100%;
                li {
                    padding: 0 14px;
                    clear: both;
                    width: 100%;
                    a {
                        padding-left: 14px;
                        padding-right: 14px;
                    }
                }
                li.active {
                    a {
                    border-bottom: none;
                    //padding-left: 12px;
                    //border-left: 2px solid #fff; // right?
                    }
                }
                li:last-child {
                        border-bottom: none !important;
                }
            }
            .navbar-collapse {
                padding: 0;
                width: 100%;
            }
        }
    }
}

@media print {
  .container {
    width: auto;
  }

  .blog-post {
    width: auto;
  }

  a::after, .sidebar-module, .pagination, footer .col-xs-6.text-right {
    display: none;
  }
}
